<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<%= render partial: 'posts/post_list', locals: {url: posts_url(user_id: current_user.id)} %>

<br>

<%= link_to 'New Post', new_user_post_path(current_user) %>
