<%= tag.div id: 'post-list',
  data: {
    url: url,
    user_id: (current_user.id rescue nil)
  } do %>
  <%= render partial: 'posts/post_search' %>
  <div class="row" v-for="(post, index) in posts">
    <div class="col">
      <div class="card">
        <div class="m-3">
          <div v-if="post.current_user" >
            <div class="card-title">
              <input class="form-control mb-2" type="text" v-model="post.title">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">c/</div>
                </div>
                <input class="form-control" type="text" v-model="post.category">
              </div>

            </div>
            <p class="card-text">
              <textarea name="name" rows="4" cols="100" v-model="post.content"></textarea>
            </p>
            <ul class="list-inline">
              <li class="list-inline-item">
                <button
                  type="button"
                  v-on:click="updatePost(index)"
                >
                  Save Post
                </button>
              </li>
              <li class="list-inline-item"></li>
            </ul>
          </div>
          <div v-else>
            <h5 class="card-title">
              {{ post.title }}
            </h5>
            <p class="card-text">
              {{ post.content }}
            </p>
            <div class="row">
              <div class="col-6">
                <ul class="list-inline">
                  <li class="list-inline-item">
                    {{ post.upvotes }}
                    <button
                      type="button"
                      v-on:click="vote(index, 0)"
                    >
                      Upvote
                    </button>
                  </li>
                  <li class="list-inline-item">
                    {{ post.downvotes }}
                    <button
                      type="button"
                      v-on:click="vote(index, 1)"
                    >
                      Downvote
                    </button>
                  </li>
                  <li class="list-inline-item">
                    <button
                      type="button"
                      v-on:click="viewComments(index)"
                    >
                      <div v-if="post.show_comments" >
                        Hide comments
                      </div>
                      <div v-else>
                        View Comments
                      </div>
                    </button>
                  </li>
                </ul>
              </div>
              <div class="col-6">
                <div class="text-right">
                  <ul class="list-inline">
                    <li class="list-inline-item">c/{{ post.category }}</li>
                    <li class="list-inline-item">Posted by u/{{ post.email }}</li>
                  </ul>

                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div v-if="post.show_comments" >
                  <div class="row" v-for="(comment, index) in post.comments">
                    <div class="col-12">
                      <div class="card">
                        <p class="card-text m-2">
                          {{ comment.content }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <textarea name="name" rows="4" cols="100" v-model="post.comment"></textarea>
                <br>
                <button
                  type="button"
                  class="btn btn-primary"
                  v-on:click="commentOnPost(index)"
                >
                  Post Comment
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
